@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@font-face {
    font-family: CircularStd;
    src: url(assets/fonts/CircularStd-Bold.eot);
    src: url("assets/fonts/CircularStd-Bold.eot?#iefix") format("embedded-opentype"), url("assets/fonts/CircularStd-Bold.woff") format("woff"), url("assets/fonts/CircularStd-Bold.ttf") format("truetype"), url("assets/fonts/CircularStd-Bold.svg#bcc26993292869431e54c666aafa8fcd") format("svg");
}
:root {
    --primary-color: none;
    --overlay-color: rgba(255, 255, 255, 0.9);
    --menu-speed: 0.75s;
    --light-text-color: #444;
    --black-color: #000;
    --white-color: #fff;
    --hero-color: black;
}
body{
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}
.hero-container{
    display: flex;
    width: 100vw;
    align-content: center;
    justify-content: center;
    
}

.hero{
    font-family: 'Poppins';
    position: relative;
    
    text-align: center;
}
#left-hero{
    padding-left: 100px;
}
#hero-right {
    padding-left: 10px;
}
.hero-tag {
    margin-top: 25vh;
    text-align: left;
    font-size: 4.5em;
    font-weight: bold;
    color: var(--hero-color);
    font-family: 'CircularStd', sans-serif;
}

.hero-des {
    padding-right: 60px;
    text-transform: uppercase;
    text-align: justify;
    /* font-weight: 800; */
    letter-spacing: 1.2;
}
.learn-btn {
    margin-top: 10px;
    padding: 5px 20px;
    background: var(--light-text-color);
    color: white;
    border: 2px solid var(--light-text-color);
    letter-spacing: 0.1;
    transition: all 1s;
    border-radius: 50px;
}

#hero-img {
    margin-top: 18vh;
    width: 100%;
}

.input-search {
    background: #f0f0f0;
    /* border: 1px solid #4e73df; */
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    width: 400px;
    margin-bottom: 10px;
    transition: width 0.5s;
}
.hero-main{
    width:100vw;
    margin-top: 5%;
}
.nav-desk {
    height: 10vh;
    /* position: fixed; */
    display: block;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    /* background: black; */
}
.inactive{
    display: none;
    /* visibility: hidden; */
    /* width: 0; */
    /* height: 0; */
}

.nav-logo {
    height: 100%;
    float: left;
}
#logo {
    margin-top: 20px;
    height: 80%;
    padding: 6px;
    border: 4px solid #444;
    border-radius: 50%;
}
ul {
    float: right;
    /* color: white; */
    list-style: none;
    padding: 10px 0px;
}
li {
    /* text-transform: uppercase; */
    display: inline;
    font-size: 16px;
    letter-spacing: 0.1;
    padding: 0px 15px;
}
li span {
    position: relative;
    /* display: block; */
    cursor: pointer;
}
li span:before {
    left: -2.5px;
}
li span:before, li span:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    top: 50%;
    margin-top: -0.5px;
    background: var(--black-color);
}
#main-logo{

    text-decoration: none;
    color: var(--light-text-color);
    font-size: 2em;
    font-weight: bold;
}
.user-profile{
    width: 80vw;
    
    height: auto;
    /* background: #444; */
    /* justify-content: center; */
    align-items: center;

}
.profile-picture{
    display: grid;
    height: 80%;
    align-items: center;
    justify-content: center;
    width: auto;
}
.user-profile-picture{
 height: 350px;
 border:5px solid #444;
 border-radius: 5%;
 
}

.profile-btn {
    margin-top: 10px;
    /* padding: 5px 20px; */
    width: 40%;
    background: white;
    color: var(--light-text-color);
    border: 2px solid var(--light-text-color);
    letter-spacing: 0.1;
    margin:0px 2%;
    transition: all 1s;
    /* border-radius: 50px; */
}

.profile-btn:hover{
    background: var(--light-text-color);
    color: white;
}
.username{
    text-align: left;
}
.username .main{
    text-align: left;
    font-weight: bold;
    font-size: 1.8em;
}
.highlight{
    cursor: pointer;
    margin-right: 10px;
    background: #f2f2f2;
    padding: 2px 4px;
    /* font-size: 0.4em; */
    transition: background 1s;
}
.user-bio{
    text-align: left;
    font-size: 0.8em;
}

.repo-stats{
    display: grid;
    padding-bottom: 10px;
}
.stats{
    display: flex;
}
.repo{
    align-content: flex-start;
    background: #444;
    color: white;
    width: 50%;
    margin:5px 0px;
}
.membership{
    display: flex;
    margin: 10px;
}
.title{
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.repo-container{
    padding-top: 50px;
    width: 80vw;
}
.repo-card{
    margin:10px 35px;
    padding:10px 20px;
    width:100%;
    text-align: left;
    background: white;
    box-shadow: 2px 2px 8px grey;
    transition: all 1s;
}
.repo-name{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
.repo-des{
    text-align: justify;
}
.repo-info{
    margin:10px 0px;
    display: flex;
}
.lang{
    background: #444;
    color: white;
}
.repo-info .highlight{
    padding:5px 10px;
}
#repo-link{
    color:#444;
    text-decoration:none;
}
.repo-card:hover{
    box-shadow:5px 5px 20px #444;
}